$mainGreen: #82ae46;

@mixin flexCenter($direction, $justify, $text) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  text-align: $text;
}
@mixin vendor-prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
}

.best-price-container {
  @include flexCenter(column, right, left);
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  margin: 50px 0 100px 0;
  padding: 100px 0;
  height: 320px;
  opacity: 0.6;
}

.about-container {
  padding: 0 6rem;
  @include flexCenter(row, center, right);
}
.about-media {
  display: flex;
  justify-content: right;
  .about-img {
    width: 500px;
    max-width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 1.5rem;
    position: relative !important;
  }

  .play-icon-bg {
    color: #fff !important;
    z-index: 200;
    background-color: #82ae46;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    right: 50%;
    bottom: 50%;
    animation: pulse 2s infinite;

    // Vendor prefixes
    @include vendor-prefix("-webkit-border-radius", 50%);
    @include vendor-prefix("-moz-border-radius", 50%);
    @include vendor-prefix("-ms-border-radius", 50%);
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(130, 174, 70, 0.4);
      -webkit-box-shadow: 0 0 0 0 rgba(130, 174, 70, 0.4);
      box-shadow: 0 0 0 0 rgba(130, 174, 70, 0.4);
    }

    70% {
      -moz-box-shadow: 0 0 0 30px rgba(130, 174, 70, 0);
      -webkit-box-shadow: 0 0 0 30px rgba(130, 174, 70, 0);
      box-shadow: 0 0 0 30px rgba(130, 174, 70, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(130, 174, 70, 0);
      -webkit-box-shadow: 0 0 0 0 rgba(130, 174, 70, 0);
      box-shadow: 0 0 0 0 rgba(130, 174, 70, 0);
    }
  }
  &:hover {
    cursor: pointer;
  }
  .play-icon {
    font-size: 40px;
  }
}

.about-description {
  padding: 0 1.5rem;
  @include flexCenter(column !important, center, left);
  align-items: flex-start;

  .about-header {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 16px 0;
  }

  .about-details {
    margin: 0 0 16px 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
  }
}
