@mixin flexCenter($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  text-align: center;
}


$mainGreen: #82ae46;
.about {
  background-color: #f7f6f2 !important;
}
 
.grid-container {
 padding: 6rem;
  .grid-item {
    @include flexCenter(column, center);

    .icon-container {
      border-radius: 50%;
      padding: 2rem;

      .icon {
        width: 70px;
        height: 70px;
      }

      &:hover {
        background-color: $mainGreen !important;
      }
    }

    .title {
      font-size: 15px;
      font-family: "Poppins", Arial, sans-serif;
      font-weight: 700;
      margin: 8px 0;
      text-transform: uppercase;
    }

    .description {
      font-size: 15px;
      color: #aaa;
    }
  }
}

.about-swipe-up {
  @include flexCenter(row, center);
  background-color: $mainGreen;
  border-radius: 50%;
  padding: 10px;
  flex-direction: column;
  width: 50px;
  height: 50px;
  margin-top: -2%;
  left: 50%;
  position: absolute;
  z-index: 9999 !important;

  button {
    @include flexCenter(row, center);
    border: none;
    outline: none !important;
  }
  .icon {
    color: #fff;
    margin: 0;
    align-self: center;
  }
}
