@import "/src/Style/Style.scss";

.cart-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 15rem;
  column-gap: 5%;
}
.lets-pay-btn {
  background-color: $mainGreen !important;
  border-radius: 0% !important;
  margin-left: 5%;
}
